
#login{

  background: rgb(220, 20, 60);
  
 
  position: absolute;
  width: 100%;
  height: 100%;

}

#login .container #login-row #login-column #login-box {

  margin-top: 50px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: 200px;
}