#perfil figure#imgPerfil1 img{

	width:80%;
	margin:10px 0;

}

#perfil #subirImagen1{
	display:none;
	margin:20px 0px;
	border:2px dotted #ccc;
	overflow: hidden;
	padding:40px;
	cursor:pointer;
}

#perfil #subirImagen1 img{
	width:100%;
	padding:10px;
}

#perfil #subirImagen1 #datosImagen1{
	height:65px;
}
